* {
    text-align: center;
    margin-top: 10px
}

#Question1 {
    display: none;
}

#Question2 {
    display: none;
}

#Question3 {
    display: none;
}

#Question4 {
    display: none;
}

#Question5 {
    display: none;
}

#FinalScore {
    display: none;
}

#HighScore {
    display: none;
}

